.root {
  padding: var(--ds-stacked-component-md) var(--ds-container-padding);
}

.blurb {
  margin-bottom: var(--ds-grid-vertical-spacing-lg);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--ds-grid-vertical-spacing-lg);
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--ds-grid-horizontal-spacing-lg);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
